[data-theme="light"] {
	--fondo-svg: url(./imagenes/moon-solid.svg);
	--fondo: #B0A8B9;
	--texto: #000;
	--btns: #845EC2;
    --iconosFooter: #845EC2;
}

[data-theme="dark"] {
	--fondo-svg: url(./imagenes/sun-solid.svg);
	--fondo: #04151F;
	--texto: #fff;
	--btns: #845EC2;
    --iconosFooter: #845EC2;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: var(--fondo);
}

/* Header */

header {
	min-height: 6vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2em;
    color: var(--texto);
}

/* Main */

main {
	height: 84vh;
	color: var(--texto);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	padding: 2em;
}

#btn {
	background-color: var(--btns);
	cursor: pointer;
}

#btn:hover {
	filter: brightness(0.8);
}
/* Configuracion switch color tema */
.contenedor-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	right: 15px;
	top: 10px;
	/* width: 250px; */
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 35px;
}

#slider-tema {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--texto);
	transition: 0.4s;
	border-radius: 35px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-image: var(--fondo-svg);
	background-size: cover;
	background-position: center center;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: var(--texto);
}

input:checked + .slider:before {
	transform: translateX(26px);
}

/* Footer */

footer {
	width: 100%;
    color: var(--texto);
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer a:visited {
	text-decoration: none;
}

footer a:hover {
	text-decoration: none;
}

.caja-links {
	width: 100px;
	display: flex;
	margin: 10px;
	justify-content: space-between;
}

.fab:hover {
	filter: brightness(3);
}

.fab {
	color: var(--iconosFooter);
	font-size: 1.5em;
}

@media screen and (max-width: 416px) {
	.contenedor-switch {
		top: 50px;
		width: 100%;
		justify-content: space-evenly;
	}
}